.grid {
  border-radius: 10%;
  height: 483px;
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  background: #ccc;
  justify-content: center;
}

.grid div {
  height: 70px;
  width: 70px;
  box-shadow: -5px 5px 5px 0px #333333;
  border-radius: 50%;
  margin: 5px;
}

.grid div:nth-of-type(43),
.grid div:nth-of-type(44),
.grid div:nth-of-type(45),
.grid div:nth-of-type(46),
.grid div:nth-of-type(47),
.grid div:nth-of-type(48),
.grid div:nth-of-type(49) {
  box-shadow: none;
}

.player-one {
  background-color: red;
  border-radius: 10px;
}

.player-two {
  background-color: blue;
  border-radius: 10px;
}
